
<h2>Add to cart</h2>
<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>

<h2>Your current cart</h2>
<% cart.each do |p| %>
  <p><%= p %></p>
<% end %>
